.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.empty-list {
  margin: 0 auto;
  width: 500px;
  border-radius: 25px;
  overflow: hidden;
}