@import '../../variables/variables';

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & button {
    width: $form-button-width;
  }
}

.popup-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 500px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 3px 3px 3px 3px #00000033;
}
